body{
    margin: 10px;
    background-color: #b5d7e1;   
}
.page-header{
    text-align-last: center;
    font-family: Montserrat,sans-serif;
    color: #304B6C;
}
label{
    font-weight: bold;
    text-transform: uppercase;
    color: #304B6C;
    font-family: Montserrat,sans-serif;
    display: block;
    width: 50%;
    padding: 1%;
    margin-bottom: 5px;
}
.lead{
    color: #304B6C;
}
input[type="email"]{
    padding: 10px;
    margin: 0;
    border: solid 1px #454545; 
    display: block;
    font-size: 14px;
    color: #333333;
    font-family: Montserrat,sans-serif;
    border-radius: 30px;
    width: 55%;
}

.emailNote{
    padding-bottom:  10px;
    margin-bottom: 20px;
    color: #304B6C;
    font-style: italic;
    font-size: 18px;
}
input[type="text"],
#exampleFormControlTextarea1 {
    padding: 10px;
    margin: 0 0 20px;
    border: solid 1px #454545; 
    display: block;
    font-size: 14px;
    color: #333333;
    font-family: Montserrat,sans-serif;
    border-radius: 30px;
    width: 55%;

}
input[type="text"]:active{
    border: solid 1px;
    border-radius: 30px;
    outline-style: none
}
 .btn-primary{
    border-radius: 30px;
    background-color: rgb(9, 110, 224);
    width: 200px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.btn-primary:hover{
   background-color: #304b6c;
   cursor: pointer;
}
.btn-primary:active{
    outline-color: red;
}

